<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colin Clark's AP Research Survey</title>
</head>
<body>
    <div class="w-full text-center h-screen flex flex-col bg-slate-100 dark:bg-gray-900 items-center justify-center">
        <h1 class="w-full text-4xl sm:text-6xl text-gray-800 font-medium dark:text-white">Please use Your DoDEA Account</h1>
        <h2 class="w-full text-xl mt-2 sm:text-2xl font-normal text-gray-600 dark:text-white">It should end with "<i>student.dodea.edu</i>"</h2>
        <a href="/" class="bg-purple-700 mt-8 px-6 py-4 rounded-2xl text-white text-lg font-medium font-sans hover:shadow-lg transition-shadow">Return Home</a>
      </div>
</body>
</html>